@using Sitecore.Mvc
@using Sitecore.Mvc.Extension
<h2>Route Values Via Placeholder</h2>

<h3>ASP.Net MVC Controller Action without route values</h3>
@Html.Action("RouteValues", "SitecoreMvcExtension")

<h3>ASP.Net MVC Controller Action with route values</h3>
@Html.Action("RouteValues", "SitecoreMvcExtension", new {ExampleRouteValue1 = "ASP.Net MVC Controller Action with route values"})

<h3>ASP.Net MVC View with view data dictionary</h3>
@Html.Partial("~/Views/Sitecore Mvc Extension Example/ViewWithRoutValue.cshtml", new ViewDataDictionary { { "ExampleRouteValue1", "ASP.Net MVC Controller Action with route values" } })

<h3>Sitecore MVC Placeholder with rendering view</h3>
@Html.Sitecore().Placeholder("forRendering")

<h3>Sitecore MVC Placeholder with controller action rendering</h3>
@Html.Sitecore().Placeholder("forControllerAction")

<h3>Sitecore MVC Placeholder with rendering view</h3>
@Html.SitecoreExtended().Placeholder("extendedForRendering", new {ExampleRouteValue1 = "Sitecore MVC Placeholder with rendering view"})

<h3>Sitecore MVC Placeholder with controller action rendering</h3>
@Html.SitecoreExtended().Placeholder("extendedForControllerAction", new {ExampleRouteValue1 = "Sitecore MVC Placeholder with controller action rendering"})